%personal-Page
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #FCFCFC;
    padding: 1.8rem;
}
%h3-X
{
    margin-bottom: 3rem !important;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}
%h5Help
{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: .9rem;
}
%spaceHelp
{
    border: 1px solid #EAEAEA;
    display: inline-block;
    width: 100%;
}
%pHelp
{
    font-size: 500;
    font-size: 16px;
    margin: 1.3rem 0 1.5rem 0 !important;
}
%buttonHelp
{
    width: 100%;
    background-color: var(--primary-color);
    height: 57px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border:none;
    outline: none;
    color: var(--secondary-color-light);
}





.personal-Page
{
    margin-top: 2.4rem;
    margin-bottom: 6.8rem;
    &-sec2
    {
        display: flex;
        flex-direction: column;
        & > div , ul
        {
            background-color: #FCFCFC;
            text-align: right;
            width: 90%;
        }
        & > div
        {
            margin-top: 3.1rem;
        }
        ul.nav-items
        {
            padding: 1.8rem;
            li.nav-item
            {
               text-align: right;
               margin-top: 1.8rem;
               font-size: 1rem;
               font-weight: 600;
               color: #3B3B3B;
               cursor: pointer;
               &:first-of-type
               {
                   margin-top: 0px !important;
               }
               img
               {
                   margin-left: 1.2rem;
                   width: 18px;
                   height: 20px;
               }
               img:first-of-type
               {
                   width: 16px;
                   height: 18px;
               }
            }
            li.nav-item.active
            {
                color: var(--primary-color);
            }

        }
        & > div:first-of-type , div.help
        {
            padding: 1.8rem 1rem;
            h5
            {
               @extend %h5Help;
            }
            .space
            {
                @extend %spaceHelp;
            }
            p
            {
                @extend %pHelp;
            }
            button
            {
               @extend %buttonHelp;
            }
        }
        &>:last-of-type
        {
            padding: 1.8rem;
            h6
            {
                font-size: 20px;
                font-weight: 600;
                color: #212121;
                margin-bottom: 20px !important;
                text-align: center;
            }
            p
            {
                font-size: 15px;
                font-weight: 600;
                color: #3B3B3B;
                margin-bottom: 26px !important;
                text-align: center;
            }
            &>div
            {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                align-content: center;
                a
                {
                    font-family: 'cairo';
                    font-size: .875rem;
                    font-weight: 600;
                    color: #707070;
                    &:first-of-type
                    {
                        margin-left: 3px;

                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }

    &-sec1
    {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        form
        {
            @extend %personal-Page;
            width: 100%;
            h3
            {
                @extend %h3-X;
            }
            label
            {
               font-size: 18px;
               font-weight: 600;
               color: #1A0405;
               margin-bottom: 15px;
               text-align: right;
            }
            input[type="text"],input[type="password"]
            {
                border-radius: 8px;
                border:1px solid #E5E5E5;
                width: 100%;
                margin-bottom: 19px;
                font-size: 16px;
                font-weight: 600;
                padding-bottom: 0px;
            }
        }
        button
        {
            width: 90%;
            border: none;
            outline: none;
            background-color: var(--primary-color);
            margin-top: 3.6rem;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            height: 55px;
            border-radius: 16px;
            color: var(--secondary-color-light);
        }
    }
}





//notification-page
.notification-page-sec1
{
   
   @extend %personal-Page;
   align-items: flex-end;
   h3
   {
       @extend %h3-X;
       margin-bottom: 1.75rem !important;
   }
   .notification
   {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       background-color: var(--secondary-color-light);
       width: 95%;
       padding: 1rem;
       margin-bottom: 1.1rem;
       @media (max-width:993px) and(min-width:773px) {
        width: 100%;
        }
    
       &-img
       {
           width: 58px;
           height: 58px;
           background-color: #F5F5F5;
           border-radius: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-left: 9px;
           @media (max-width:993px) and(min-width:767px) {
            width: 100px;
           }
           @media (max-width:766px) and(min-width:560px) {
            width: 65px;
            height: 48px;
           }
           @media (max-width:560px) and(min-width:480px) {
            width: 80px;
            height: 48px;
            }
            @media (max-width:480px) and(min-width:400px) {
                width: 100px;
                height: 48px;
            }
            @media (max-width:400px) and(min-width:360px) {
                width: 120px;
                height: 48px;
            }
            @media (max-width:360px) and(min-width:300px) {
                width: 150px;
                height: 48px;
            }
       }
       &-text
       {
           text-align: right;
           .notification-inf , p:last-of-type
           {
               color: #7E7E7E;
               font-size: .8rem;
               font-weight: 500px;
               line-height: 19px;
           }
           p:first-of-type
           {
               span:first-of-type
               {
                   font-size: .8125rem;
                   font-weight: 600;
                   margin-left: 18px;
                   line-height: 21px;
               }
           }
           .notifiaction-time
           {
               color: #B4B4B4;
               font-size: 11px;
               font-weight: 600;
               margin-top: 6px;
           }
       }
   }
}





//talabat-page

.talabat-page-sec1
{
    @extend %personal-Page;
    .title-sec
    {
        display: flex;
        width: 100%;
        h3
        {
            font-size: 1.5rem;
            font-weight: 600;
            width: 50%;
            text-align: center;
            color: #707070;
            line-height: 38px;
            padding-bottom: 1rem;
            margin-bottom: 0 !important;
            cursor: pointer;
            @include media('phone') {
                font-size: 15px;
            }
        }
        h3.active
        {
            border-bottom: 4px solid var(--primary-color);
            color: var(--text-primary-color);
        }
    }
    .talabat-section
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding:3.4rem 0;
        position: absolute;
        opacity: 0;
        transform: translateX(100vw);
        @include transtion;
        &.active
        {
            position: relative;
            opacity: 1;
            transform: translateX(0);
        }
        &-1
        {
            cursor: pointer;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            background-color: #fff;
            padding: 1.5rem .8rem;
            margin-bottom: 1.4rem;
            &:last-of-type
            {
                margin-bottom: 0;
            }
            .title
            {
                width: calc(100% - 128px - 21.8px);
                margin-right: 21.8px;
                @include media('phone') {
                    margin-right: 11px;
                }
                &-header
                {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    h4
                    {
                        font-size: 1.1rem;
                        font-weight: 600;
                        line-height: 28px;
                        margin: 0 !important;
                        text-align: right;
                        @include media('phone') 
                        {
                            font-size: .9375rem;
                            line-height: 1rem;
                            width: 100%;
                        }
                    }
                    .tiltle-header-left
                    {
                        margin: 0 !important;
                        span
                        {
                            @extend h4;
                            color: #F60008;
                            display: inline-block;
                            margin: 0 .7rem 0 0 !important;
                        }
                    }

                }
                p
                {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    margin:13px 0 !important;
                    text-align: right;
                    color:#7E7E7E;
                    @include media('phone') {
                       display: none
                    }
                }
                span
                {
                    @extend p;
                    display: block;
                    margin:17px 0 0 0;
                    font-weight: 600;
                    text-align: right;
                    color: var(--primary-color);
                    @include media('phone') {
                        font-size: 12px;
                        margin: 9px 0 0 0 !important;
                    }
                }
                .price
                {
                    font-size: 1.1rem;
                    line-height: 30px;
                    font-weight: 600;
                    text-align: right;
                    color: var(--text-primary-color);
                    margin-bottom: 0 !important;
                    @include media('phone') {
                        font-size: 15px;
                    }
                }
                .tiltle-header-left
                {
                    @include media('phone') 
                    {
                        display: inline-block !important;
                    }
                    span
                    {
                        @include media('phone') 
                        {
                            display: none !important;
                        }
                    }

                    img
                    {
                        @media only screen and (min-width:433) {
                            display: inline-block !important;
                        }
                        @media only screen and (max-width:433px) {
                            display: none;
                        }
                    }
                }
            }
            &-img
            {
                width: 128px;
                height: 131px;
                img
                {
                    width: 100%;
                    height: 100%;
                }
            }
        }
   
    }
}