@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Roboto&display=swap');

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-ExtraLight.ttf') format('truetype');
    src: local('Bahij TheSansArabic'), url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-Plain.ttf') format('no404'),
    url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-Plain.ttf') format('truetype');
    src: local('Bahij TheSansArabic'), url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-Plain.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Bahij TheSansArabic';
    src:url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-SemiBold.ttf') format('no404'),
     url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-SemiBold.ttf') format('truetype');
    src: local('Bahij TheSansArabic'), url('../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: 600;
}


@font-face {
    font-family: 'DIN Next LT Arabic';
    src: url('../../fonts/ArbFonts.com-\(21\)/DIN Next LT Arabic Light/DIN NEXT LT Arabic Light.ttf') format('truetype');
    font-weight: 200;  
}

