.Pragraph-page
{
    text-align: left;
    .pragraph
    {
        text-align: left;
    }
}


.ques-ans
{
    text-align: left;
    .answer
    {
        text-align: left;
        .ans-pragrah
        {
            text-align: left;
        }
    }
}

