.parent-slider
{
    direction: ltr;
    .parent-slider-indicators
    {
        right:0;
        button
        {
            margin-right: 15px;
            margin-left: 0px;
            &:first-of-type
            {
                margin-right: 0px;
            }
        }
    }
    &-slides
    {
        direction: ltr;
        .slider
        {
            direction: rtl;

            &-text
            {
                left:  7% ;
                text-align: left;
            }
        }
    }
}
